@import 'variables';

html, body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;

  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-size: 16px;
  color: #595959;
  background-color: @Blue-50;
}

.ember-view {
  display: flex;
  flex-grow: 1;
}

.hidden {
  display: none;
  visibility: hidden;
}

@import 'application-route';
@import 'forms';

@import 'components/login-form';
@import 'components/nav-bar';
@import 'components/recipe-search-page';
@import 'components/selectable-tag';
