.application-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;

  .floating-nav-bar {
    order: 2;
    display: flex;
    flex-grow: 0;
  }

  .floating-outlet {
    order: 1;
    display: flex;
    flex-grow: 1;
  }

  @media (min-width: 1000px) {
    .floating-nav-bar {
      order: 1;
    }
    .floating-outlet {
      order: 2;
    }
  }
}
