.input-group {
  display: flex;
  margin-bottom: 15px;

  label {
    .hidden();
  }

  input {
    flex-grow: 1;
    font-size: 18px;
    padding: 10px 5px 10px 15px;
  }

  button {
    flex-grow: 1;
    cursor: pointer;
    border-radius: 2px;
    border: none;

    background-color: @Cyan-600;
    color: white;

    font-size: 18px;
    padding: 10px;
  }
}
