.input-group {
  @error-color: #980000;
  @success-color: #007100;

  display: flex;
  border-left: 5px solid transparent;
  margin-left: -5px;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }

  &.error, &.success {
    .message {
      font-weight: bold;
      padding: 14px 15px 14px 10px;
    }
  }

  &.error {
    border-left-color: @error-color;
    .message {
      color: @error-color;
    }
  }

  &.success {
    border-left-color: @success-color;
    .message {
      color: @success-color;
    }
  }

  .message {
    padding: 5px 15px 0 10px;
  }

  label {
    .hidden();
  }

  input {
    flex-grow: 1;
    font-size: 18px;
    padding: 10px 5px 10px 15px;
  }

  button {
    flex-grow: 1;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    padding: 10px;

    box-shadow: 0 3px 15px -2px @Cyan-shadow-light;

    &.primary {
      background-color: @Cyan-600;
      color: white;
    }

    &.secondary {
      background-color: white;
      border: 2px solid @Cyan-600;
      color: @Cyan-600;
    }
  }
}
