<div class="primary-search">
  <div class="input-group">
    <label for="recipe-name-search">Search by name</label>
    {{input id="recipe-name-search" value=nameSearchInput placeholder="Search by recipe name"}}
  </div>
</div>

<div class="results-pane">
  <div class="no-results-message">
    Add a filter or start typing to see recipes.
  </div>
</div>

<div class="filters">
  <div class="filter">
    <button class="btn secondary" role="button">Tags</button>
  </div>
  <div class="filter">
    <button class="btn secondary" role="button">Ingredients</button>
  </div>
</div>

<div class="filter-panel tags">

</div>

<div class="filter-panel ingredients">

</div>
