<div class="primary-search">
  <div class="input-group">
    <label for="recipe-name-search">Search by name</label>
    {{input id="recipe-name-search" value=nameSearchInput placeholder="Search by name"}}
  </div>
</div>

<div class="results-pane">
    Search results go here
</div>

<div class="filters">
    <div class="filter-panel">
        <button class="panel-control" role="button">Ingredients</button>
    </div>

    <div class="filter-panel">
        <button class="panel-control" role="button">Tags</button>
    </div>
</div>