.nav-bar {
  background-color: @Blue-500;
  box-shadow: 0 0 20px -3px @Cyan-shadow-dark;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .navigation-entity {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 5px 0;
    font-size: 24px;
    color: white;

    .nav-icon {
      font-size: 30px;
    }
    .nav-text {
      display: none;
    }
    &.active {
      background-color: @Blue-300;
    }
  }

  @media (min-width: 1000px) {
    .navigation-entity {
      flex-grow:  0;
      padding: 10px 20px;
      margin: 0 5px;

      .nav-icon {
        margin-right: 10px;
      }
      .nav-text {
        display: inherit;
      }
    }
  }
}
