.selectable-tag {
  flex-grow: 0;
  position: relative;

  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  border: none;
  border-radius: 15px;
  margin: 0 5px 5px 0;

  background-color: @Cyan-600;
  color: white;
  font-size: 14px;
  cursor: pointer;

  &.show-delete {
    padding-right: 40px;
  }

  i {
    position: absolute;
    color: #FFDBDB;
    right: 5px;
    top: 0px;
    font-size: 24px;
  }
}
